doctype html
html(lang="ko")
    head
        title Youtube | #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="stylesheet" href="static/css/styles.css")
    body
        header
            nav
                block nav


            block header

        main
            block content

    include ./partials/footer

script(src='/static/js/main.js')