doctype html
html(lang="ko")
    head
        title Youtube | #{pageTitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            nav
                block nav
                a(href="/videos/upload") Upload video

            block header

        main
            block content

    include ./partials/footer

