extends base.pug
include ./mixins/video

block nav
    if user.loggedIn
        h4 welcome #{user.name}!
    else
        a(href='/login') click here to log In

    a(href="/videos/search") Search video
    a(href="/videos/upload") Upload video

block header
    h1 There are tons of videos to watch!

block content
    each video in videos
        +video(video)