extends base
include mixins/video

block content
    p #{error}
    form(method='GET').search__form
        input(type='text', name='keyword', placeholder='keyword', maxlength=128, required)
        button
            i.fas.fa-search

    div.video-grid
        each video in videos
            +video(video)
        else
            span.empty__message No videos found