extends base

block header
    h1 Welcome to upload page!

block content
    p #{error}

    form(method='POST' enctype="multipart/form-data")
        input(type="file" name='video' id='video' accept="video/*" required)
        input(type='text', name='title', placeholder='title', maxlength=128, required)
        input(type='text', name='description', placeholder='description', minlength=4, required)
        input(type='text', name='hashTags', placeholder='put down commas to use multiple hashtags ')
        input(type='submit', value='send')