extends base.pug


block nav
    a(href="/") Home

block content
    form(method='post')
        input(type="text" name="email" value=user.emailAddress, placeholder='email', required)
        input(type="text" name="name" value=user.name, placeholder='name', required)
        input(type='text', name="location", value=user.location, placeholder='location')
        input(type="submit" value="Save")
