extends ../base

block content
    if error
        span=error
    form(method='post')
        input(type="password" name="oldPassword", placeholder='oldPassword', required)
        input(type="password" name="newPassword1" , placeholder='newPassword1', required)
        input(type='password', name="newPassword2", placeholder='newPassword2' required)
        input(type="submit" value="Save")
